doctype html
html(lang='ja')
  head
    title ted.js
    link(rel="stylesheet" href="./css/style.css")
    script(type='text/javascript' src='./js/app.js')
  body
    h1 Jade - node template engine
    #container.col
      p You are amazing
      p
        | Jade is a terse and simple
        | templating language with a
        | strong focus on performance
        | and powerful features.
